VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"  // Appwrite API URL
VITE_APPWRITE_PROJECT_ID="" // Project ID -> Blog (Project Name) (mybminiblog)
VITE_APPWRITE_Database_ID="" // Database ID -> Blog (Database Name) (blog)
ViTE_APPWRITE_COLLECTION_ID=""  // Table ID -> Blog (table Name) (blogarticales) -> col (title, content, featuredImage, status, userId),index (index on status, key)
ViTE_APPWRITE_BUCKET_ID=""  // Storage ID -> Blog (Storage Name) (image)





// Step 1: Create a new project in Appwrite and get the Project ID.
// Step 2: Create a new database in your project and get the Database ID.
// Step 3: Create a new collection in your database and get the Collection ID. (all User Access)
// Step 4: Create a new storage bucket in your project and get the Bucket ID. (all User Access)
// Step 5: Replace the placeholders in the .env file with the actual values you obtained from Appwrite.
